<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501344901561-sdncqujrp2n1r5mlhhtoncu42h93vrkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501344901561-sdncqujrp2n1r5mlhhtoncu42h93vrkm</string>
	<key>API_KEY</key>
	<string>AIzaSyBnVsBe1cj8G2B3qd8gFgWDVxyjX5ASNNU</string>
	<key>GCM_SENDER_ID</key>
	<string>501344901561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pharmacy</string>
	<key>PROJECT_ID</key>
	<string>pharmacy-656cd</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmacy-656cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501344901561:ios:22009cba919d4505fdbe68</string>
</dict>
</plist>